/* {
  outline: 1px solid limegreen !important;
}*/

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Astrolyte";
  src: url("utilitys/fuentes/Astrolyte/astrolyt.ttf") format("truetype");
  font-style: sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("utilitys/fuentes/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

/*Header*/

header {
  width: 100%;
  height: 10%;
  font-family: "Astrolyte";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  transition: all 300ms;

}

.container__header {
  max-width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  /*margin-top: 3%; */
  margin-left: 5%;
  margin-bottom: 3%;
}

header .logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-left: 10%;
}

.logo img {
  width: 370%;
}

.titulo {
  font-family: "Astrolyte";
  font-size: 150%;
  margin-top: 1%;
  color: rgba(0, 0, 255, 0.534);
}

.container__nav {
  position: relative;
  height: 100%;
}

nav {
  height: 100%;
}

nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin: 0px 20px;
  list-style: none;
}

nav ul li a {
  color: #373737;
  font-size: 14px;
}

.select {
  background: #359EF9;
  padding: 10px 30px;
  color: white;
  border-radius: 20px;
}

.nav_mod {
  height: 70px;
  box-shadow: 1px 1px 10px 0px #00000010;
  background: white;
}

.btn__menu {
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background 300ms;
  display: none;
}

.btn__menu:hover {
  background: #f5f5f5;
}

@media screen and (max-width: 760px) {

  .container__nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn__menu {
    display: flex;
  }

  nav {
    height: 100%;
    background: #F1FAFF;
    position: fixed;
    top: 0;
    right: -180px;
    padding: 0 40px;
    transition: all 300ms;
  }

  .move_nav {
    right: 0px;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 20px 0px;
  }

  .logo.img {
    width: 100%;
  }
}

.containerWelcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  /*background-image: url("utilitys/img/wallpaper.jpg");*/
  /*background-image: url("utilitys/img/wallpaper1.jpg");*/
  background-image: url("utilitys/img/fondoinicio.jpg");
  background-size: cover;
  background-attachment: fixed;
  @import url('http://fonts.cdnfonts.com/css/astrolyte');
  font-family: 'Astrolyte', sans-serif;
  /*text-shadow: 0 0 30px #fff;*/
  margin-top: 5%;
}

.parrafo {
  font-size: 20px;
  color: azure;
  text-align: justify;
  padding: 1%;
  text-indent: 2%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 0%;
  font-family: "Montserrat";
  background-color: rgb(59 70 184 / 30%);
}

@media only screen and (max-width: 800px) {
  .containerLogin {
    margin-top: 40%;
  }

  .imageP {
    font-size: 10px;
  }

  .parrafo {
    font-size: 15px;
    margin-top: 0%;

    margin-right: 7%;
    margin-left: 5%;
  }

  .container__header {
    margin-left: 10%;
  }

  .containerWelcome {
    margin-top: 20%;
  }

  .titulo {
    font-size: 15px;
    margin-top: 5%;
  }

  .saludoUser {
    font-size: 15px;
    margin-top: 15%;
  }

  .textarea-container {
    margin-top: 10%;
  }
}

.button {
  display: flex;
  justify-content: center;
  background-color: #1c2aef;
  border-radius: 18px;
  border: 1px solid #2f96d6;
  display: inline-block;
  cursor: pointer;
  color: whitesmoke;
  font-size: 25px;
  text-decoration: none;
  margin: 4%;
  font-family: "Fredoka_One";
  border: outset;
  padding: 0.3em 1em;
  border-color: #b4c5cb;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .Inputs-L .button {
    font-size: 1px;
    margin-top: 2%;
    padding: 0.1em 0.5em;
  }

}

.button:hover {
  border: inset;
}

.button:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: all 1s ease;
}

.button:hover:before {
  width: 100%;
}

/*********************CARRUSEL*****************************************************/
@import url(https://fonts.googleapis.com/css?family=Istok+Web);

@keyframes slidy {
  0% {
    left: 0%;
  }

  20% {
    left: 0%;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}


figure {
  margin: 0;
  font-family: Istok Web, sans-serif;
  font-weight: 100;
  align-content: center;
  font-weight: bolder;
  text-align: center;
}

div#captioned-gallery {
  width: 85%;
  text-align: center;
  align-items: center;
  margin-left: 7%;
}

figure.slider {
  position: relative;
  width: 500%;
  font-size: 0;
  animation: 20s slidy infinite;
}

figure.slider figure {
  width: 20%;
  height: auto;
  display: inline-block;
  position: inherit;

}

figure.slider img {
  width: 42%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  align-items: stretch;
}

figure.slider figure figcaption {
  position: absolute;
  bottom: 0;
  color: #fff;
  width: 100%;
  font-size: 14px;
  /* padding: .5rem;*/
  align-content: center;
  /*text-shadow: 0 0 30px rgb(244, 244, 247);*/
  font-weight: bolder;
  -webkit-text-stroke: #000000;
}

@media screen and (max-width: 890px) {
  figure.slider figure figcaption {
    font-size: 11px;
  }

  figure.slider img {
    width: 40%;
  }

  .parrafo {
    margin: 0%;
  }
}


@media only screen and (max-width: 750px) {
  figure.slider figure figcaption {
    font-size: 11px;
  }


  .parrafo {
    font-size: 13px;
  }



  figure.slider img {
    width: 50%;
  }

  #carruContainer {
    height: 40vh;

  }

  .container__footer {
    height: 100vh;
  }
}


@media only screen and (max-width: 575px) {
  figure.slider figure figcaption {
    font-size: 12px
  }

  figure.slider img {
    width: 45%;
  }

  .imageP {
    color: azure;
    position: absolute;
  }

  .parrafo {
    margin-top: 15%;
    margin-bottom: 15%;
    font-size: 18px;
  }

  #carruContainer {
    width: 90vh;
    overflow: hidden;
    margin: 0%;
    height: auto;

  }

}

/*********************CARRUSEL*****************************************************/
.login-title {
  font-family: 'Astrolyte', sans-serif;
  text-shadow: 0 0 30px #fff;
  font-size: 25px;

  color: #005FB3;
  margin-top: 2%;
}

.containerPages {
  height: 70%;
  width: 100%;
  margin-top: 7%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  color: #005FB3;
  /*background-image: url("utilitys/img/wallpaper.jpg");*/
  /*background-size: cover;
  background-attachment: fixed;*/
  @import url('http://fonts.cdnfonts.com/css/astrolyte');
  font-family: 'Astrolyte', sans-serif;
  text-shadow: 0 0 30px #fff;
}

.register-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.containerLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.buttonL:hover {
  border: inset;
  opacity: 1;
  cursor: pointer;
}

.buttonL {
  border-radius: 0.375rem;
  background: #0B6EFE;
  border: none;
  width: 9rem;
  height: 3rem;
  margin: 1rem;
  color: rgb(255, 255, 255);
  opacity: 0.5;
  border: outset;
  font-weight: bold;
  font-size: 18px;
}

.Inputs-L {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  width: 300px;
  padding: 15px;
  border-color: #97d9e1;
  margin-top: 1%;
}

.Inputs-L::placeholder {
  text-align: center;
  color: #005FB3;
}

.simple {
  color: 005FB3;
  font-family: 'Astrolyte', sans-serif;
  font-size: 15px;
}

.test {
  font-family: "Astrolyte";
  text-align: center;
  color: #005FB3;
  /*background: linear-gradient(to right, #0B6EFE, white); */
  /*background: radial-gradient(white, #0B6EFE);*/
  /*background: radial-gradient(ellipse at top, white,#0B6EFE),
            radial-gradient(ellipse at bottom, white,#0B6EFE);*/
  /*background-image: radial-gradient(white 50%, transparent 20%, #0B6EFE 10%);*/
  /*background: radial-gradient(ellipse at center, white,#0B6EFE);*/
  background: radial-gradient(circle at center, white 10%, #00b6ff, white 50%);
  font-size: 13px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 5px;
  /*width: 30px;
  height: 29px;
  margin-right: 4%;
  margin-top: 1%;*/
}

.logo {
  cursor: pointer;
  width: 30px;
  height: 29px;
  text-align: center;
  padding: 0%;

}

/*********FOOTER******/
.container__footer {
  display: flex;
  justify-content: center;

  flex-direction: column;
  background-image: url("utilitys/img/waves-1.gif");
  height: 100%;
  width: 102%;
  background-blend-mode: darken;
}

/*********WALL********/
.wall-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /*   align-items: center; */
  align-content: center;
  margin: 1rem;
}

.textarea-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/***textarea post***/
.post-message {
  display: flex;
  flex-direction: column;
  resize: none;
  border-radius: 15px;
  width: 20rem;
  padding: 15px;
  border-color: #97d9e1;
  font-family: "Astrolyte";
  height: auto;
  margin-top: 20%;
  font-size: 20px;

}

@media (min-width: 768px) {
  .post-message {
    width: 40rem;
    height: auto;
  }
}

.containerWall {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
}

.user-icono {
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 3%;
  margin-left: 15%;
}

.saludoUser {
  display: flex;
  flex-direction: column;
  font-family: 'Astrolyte', sans-serif;
  font-size: 20px;
  color: #005FB3;
  margin-top: 7%;
  margin-left: 8%;
  margin-bottom: 2%;
}

#googleButton {
  border: none;
  background: none;
}

#facebookButton {
  border: none;
  background: none;
}

#facebookButtonL {
  border: none;
  background: none;
}

#googleButtonL {
  border: none;
  background: none;

}

/*********CONTAINER POST********/
.containerPost {
  display: flex;
  flex-direction: column;
}

.container-print-post {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.user-names {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.25rem;
  color: #06486e;
  margin-left: 1rem;
}

/* Publicaciones */
.user-post {
  display: flex;
  flex-direction: column;
  resize: none;
  background-color: #aae3eb;
  /*background-color:rgba(111, 196, 227, 1.5);*/
  border: solid #1673A8 0.063rem;
  border-radius: 0.813rem;
  margin: 1rem;
  width: 20rem;
  height: auto;
  padding: 1rem;
  /* color: white;*/
  font-size: 20px;
  font-family: "Montserrat";
  text-align: justify;
}

.post-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.buttons-editions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.btn-like {
  width: auto;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: none;
  background-color: transparent;
  margin-left: 0;
}

.btn-like:hover {
  cursor: pointer;
}

/* botones de  editar y borrar */
.btn-edit {
  display: flex;
  flex-direction: row;
  border: none;
  width: auto;
  height: 2rem;
  justify-content: flex-end;
  background-color: transparent;
}

.btn-edit:hover {
  cursor: pointer;
}

.btn-delete {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: none;
  width: auto;
  height: 2rem;
  background-color: transparent;

}

.btn-delete:hover {
  cursor: pointer;
}

#carruContainer {
  overflow: hidden;
}

/* #bluRed img {
  filter: blur(100px)
} */