/** {
  outline: 1px solid limegreen !important;
}*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

.welcome {
  background-size: cover;
  background-attachment: fixed;
  color: aliceblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.containerHeader {
  text-align: center;
  justify-content: center;
  font-size: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  color: aliceblue;
  text-align: center;
  /*margin-left: 4%;
  margin-right: 4%;*/
}

@media only screen and (max-width: 800px) {
  .containerHeader {
    font-size: 25px;
  }
}

.containerWelcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("utilitys/img/wallpaper.jpg");
  /*background-size: cover;
  background-attachment: fixed;*/
  @import url('http://fonts.cdnfonts.com/css/astrolyte');
  font-family: 'Astrolyte', sans-serif;
  text-shadow: 0 0 30px #fff;
}

.parrafo {
  font-size: 25px;
  color: azure;
  text-align: justify;
  padding: 1%;
  text-indent: 2%;
  margin-left: 4%;
  margin-right: 4%;
  font-family: "Montserrat";

}

@media only screen and (max-width: 800px) {
  .imageP {
    font-size: 10px;
  }

  .parrafo {
    font-size: 15px;
  }
}

.buttonCover {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  color: rgb(252, 166, 55);
}

.button {
  box-shadow: rgb(173, 124, 58);
  ;
  background-color: rgb(252, 166, 55);
  border-radius: 18px;
  border: 1px solid #2f96d6;
  display: inline-block;
  cursor: pointer;
  color: whitesmoke;
  font-size: 25px;
  padding: 10px 30px;
  text-decoration: none;
  margin: 2%;
  font-family: "Fredoka_One";
  border: outset;
  padding: 0.5em 1.2em;
  border: 2px solid;
  border-color: #b4c5cb;
  position: relative;
}

.button:hover {
  border: inset;
}

.button:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: all 1s ease;
}

.button:hover:before {
  width: 100%;
}

/*.app {
  background-color: #C4D2F5;
  background-size: cover;
  background-attachment: fixed;
  color: rgb(43, 68, 90);
}*/


/*.Button {
  border-radius: 0.375rem;
  background: #0F4951;
  border: none;
  width: 6rem;
  height: 2rem;
  margin: 1rem;
  color: white;
}*/


/*********************CARRUSEL*****************************************************/
@import url(https://fonts.googleapis.com/css?family=Istok+Web);

@keyframes slidy {
  0% {
    left: 0%;
  }

  20% {
    left: 0%;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}

/** {
  box-sizing: border-box;
}*/

figure {
  margin: 0;
  /*background: #101010;*/
  font-family: Istok Web, sans-serif;
  font-weight: 100;
  align-content: center;
  font-weight: bolder;
  text-align: center;
}

div#captioned-gallery {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

figure.slider {
  position: relative;
  width: 500%;
  font-size: 0;
  animation: 20s slidy infinite;
}

figure.slider figure {
  width: 20%;
  height: auto;
  display: inline-block;
  position: inherit;

}

figure.slider img {
  width: 30%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  align-items: stretch;
}

figure.slider figure figcaption {
  position: absolute;
  bottom: 0;
  /*background: rgba(0,0,0,0.4);*/
  color: #fff;
  width: 100%;
  font-size: 1rem;
  padding: .5rem;
  align-content: center;
  text-shadow: 0 0 30px rgba(31, 7, 248, 0.534);
  font-weight: bolder;
}

.imageP {
  color: azure;
  position: absolute;
}

/*********************CARRUSEL*****************************************************/
.login-title {
  @import url('http://fonts.cdnfonts.com/css/astrolyte');
  font-family: 'Astrolyte', sans-serif;
  text-shadow: 0 0 30px #fff;
  font-size: 25px;
  color: #ecf0f3;
  margin-top: 2%;
}

.containerPages {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("utilitys/img/wallpaper.jpg");

  /*background-size: cover;
  background-attachment: fixed;*/
  @import url('http://fonts.cdnfonts.com/css/astrolyte');
  font-family: 'Astrolyte', sans-serif;
  text-shadow: 0 0 30px #fff;
}

.containerLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Button {
  border-radius: 0.375rem;
  background: #0F4951;
  border: none;
  width: 6rem;
  height: 2rem;
  margin: 1rem;
  color: white;
}

.Inputs-L {
  border-radius: 0.375rem;
  background: #f5f6f8;
  border: none;
  width: 11.5rem;
  height: 2rem;
  margin: 1rem;
}

.Inputs-L::placeholder {
  text-align: center;
  color: #037ef3;
}

.footerimg img {
  position: absolute;
  width: 100%;
  height: 20%;
  left: 0px;
  top: 632px;
  mix-blend-mode: normal;
}

.user-input {

  box-sizing: border-box;

  position: absolute;
  width: 330px;
  height: 60px;
  left: 25px;
  top: 198px;

  border: 1px solid #1994FF;
  border-radius: 5px;
}

.user-password {

  box-sizing: border-box;

  position: absolute;
  width: 330px;
  height: 60px;
  left: 24px;
  top: 301px;

  border: 1px solid #1994FF;
  border-radius: 5px;
}

.login-btn {
  position: absolute;
  width: 330px;
  height: 60px;
  left: 25px;
  top: 421px;
  background: #0B6EFE;
  opacity: 0.3;
  border-radius: 5px;
  border: outset;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  color: #FFFFFF;

}

.login-btn:hover {
  border: inset;
  opacity: 1;
  cursor: pointer;
}

.login-title {
  position: absolute;
  width: 123px;
  height: 30px;
  left: 18px;
  top: 136px;

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;

  color: #005FB3;
}

.login-container {
  position: relative;
  display: flex;
  justify-content: center;
}